<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!-- The character '&' in the LUIS endpoint URL must be replaced by the XML entity reference '&amp;' in order to make the XML parser correctly interpret the file -->
    <!-- For example, https://xxxx&verbose=true&timezoneOffset=0&q= must be changed to https://xxxx&amp;verbose=true&amp;timezoneOffset=0&amp;q=-->
    <add key="LuisEndpointURL" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/5ea4cd58-4b78-4cd9-a385-da2beac6d879?subscription-key=7c8d53150eef43278ac4f89b956c06e8&amp;verbose=true&amp;timezoneOffset=0&amp;q=" />
    <add key="RecognitionLanguage" value="es-mx" />
    <add key="SpeechAPISubscriptionKey" value="dde02807d8774dda941ad6b233e7f983" />
    <add key="AccessURI" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken" />
    <add key="OutputFormat" value="riff-16khz-16bit-mono-pcm" />
    <add key="VoiceName" value="Microsoft Server Speech Text to Speech Voice (es-ES, HelenaRUS)" />
  </appSettings>
  
</configuration>