<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!-- The character '&' in the LUIS endpoint URL must be replaced by the XML entity reference '&amp;' in order to make the XML parser correctly interpret the file -->
    <!-- For example, https://xxxx&verbose=true&timezoneOffset=0&q= must be changed to https://xxxx&amp;verbose=true&amp;timezoneOffset=0&amp;q=-->
    <add key="LuisEndpointURL" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/fc9200fc-0230-46cf-9297-1c1079da0640?subscription-key=e82ef51cfd4c4414bcf9b7c8816b48b1&amp;verbose=true&amp;timezoneOffset=0&amp;q=" />
    <!-- add key="LuisEndpointURL" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/d7db0e02-88b3-4b68-b3d2-bcff129e581c?subscription-key=7c8d53150eef43278ac4f89b956c06e8&amp;verbose=true&amp;timezoneOffset=0&amp;q=" /> -->
    <add key="RecognitionLanguage" value="es-ES" />
    <add key="SpeechAPISubscriptionKey" value="dde02807d8774dda941ad6b233e7f983" />
    <add key="AccessURI" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken" />
    <add key="OutputFormat" value="riff-16khz-16bit-mono-pcm" />
    <add key="VoiceName" value="Microsoft Server Speech Text to Speech Voice (es-ES, HelenaRUS)" />
    <add key="SynthesizeURI" value="https://speech.platform.bing.com/synthesize" />
  </appSettings>
  
</configuration>